.fab {
    padding: 20px;
    font-size: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 2%;
    border-radius: 50%;
}

div.fab fa-instagram:hover {
    background: grey;
}

  body {
    background: rgb(35,31,32);
}

.background {
    background: rgb(63, 63, 63);
}

.bigheader {
    height: 350px;
}

.pic {
    display: flex;
    justify-content: center;
}

.navbar {
    margin-top: 15px;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    background: rgb(63, 63, 63);
}

.navbar ul li a:hover {
    background-color: rgba(201, 22, 22, 0.637);
}

.smallbox {
    background: rgb(63, 63, 63);
    height: 500px;
    color: rgb(197, 197, 197);
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
}

.padding {
    padding-right: 5px;
    padding-left: 5px;
}
 .img-circle {
     border-radius: 50%;
 }

footer {
    text-align: center;
    padding: 10px;
    color: white;
}

hr {
    border-color: yellow;
    border-radius: 12px;    
}

a {
    color: white;
    box-shadow: 2px;  
}

.page-header {
    border-bottom-color: yellow;
}

.row {
    margin-left: 15px;
    margin-right: 15px;

}